@mixin vertically-centered() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin mq($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
